.group-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  outline: none;
  border: 0;
}

.input-group-item {
  flex: 1;
  margin-right: 10px;
}

.input-group-text{
  background-color: #5865F2;
  padding: 10px;
  border: 0;
  outline: none;
  color: #FFFFFF;
  font-weight: bold;
  border-radius:4px;
}

.display-group-text {
  background-color: #5865F2;
  padding: 10px;
  border: 0;
  outline: none;
  color: #FFFFFF;
  font-weight: bold;
  border-radius:4px;
  flex: 1;
}

.form-control {
  background-color: #383A40;
  border: 0;
  padding: 10px;
}

.form-control:focus {
  background-color: #383A40;
  color: #FFFFFF;
  outline: none;
}

.form-control::placeholder {
  color: #5B5D65;
}